.header {
  display: flex;

  background-color: cornflowerblue;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  padding: 10px 10px;
  font-size: 20px;
  color: white;
}

